.texto-ocupacion {
  color: rgb(99, 185, 156);
  font-weight: bold;
}

a {
  text-decoration: none;
}

section{
  overflow-x: hidden;
}

.sec-2 .animate{
  transform: translateX(-100%);
  opacity: 0;
  transition: 1s;
}

.sec-2.show-animate .animate{
  transform: translateX(0);
  opacity: 1;
}

.sec-3 .animate{
  transform: translateX(200%);
  transition: .8s;
}

.sec-3.show-animate .animate{
  transform: translateX(0);
}

.sec-4 .animate{
  transform: scale(.5);
  opacity: 0;
  transition: .8s;
}

.sec-4.show-animate .animate{
  opacity: 1;
  transform: scale(1);
}

.bg-image-banner {
  background: url("/img/bg-image-banner.jpg") no-repeat;
  background-size: cover;
  background-position: 0%;
}

.nav-link:hover{
  border-bottom: 2px solid #fff;
  width: max-content;
}

.icon-redes{
  display: block;
}

.icon{
  position: fixed;
  right: 30px;
  bottom: 5%;
}

.img-icon{
  width: 2rem;
}